{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="content">
        <div class="breadcrumb-container">
            <div class="container">
                <ul class="breadcrumb pull-left">
                    <li><a href="/">Home</a></li>
                    <li><a href="/books">Books</a></li>
                    <li class="active"><!-- <?=$book['name']?> -->Book Name</li>
                </ul><!-- /.breadcrumb -->

            </div><!-- /.container -->
        </div><!-- /.breadcrumb-container -->

        <div class="book-detail page">
            <div class="container">
                <div class="primary-block clearfix">
                    <div class="row">
                        <div class="col-sm-4">
                            <!-- <? if($book['hot']): ?> --> 
                                <div class="hot-ribbon">
                                    <div class="hot-ribbon-content">hot</div>
                                </div>   
                            <!-- <? endif; ?> 
                            <? if($book['sale_off']): ?>  -->
                                <div class="sale-ribbon">
                                    <div class="sale-ribbon-content">sale off</div>
                                </div> 
                            <!-- <? endif; ?> -->
                            <div class="book-cover book detail-book-cover">
                                <img src="{% static '/images/blank.gif' %}" class="img-responsive" data-echo="{% static '/images/books/1.jpg' %}" alt="">
                                <div class="fade"></div>
                            </div><!-- /.book-cover -->
                        </div><!-- /.col -->

                        <div class="col-sm-8">
                            <div class="book-detail-header">
                                <h2 class="book-title"><!-- <?=$book['name']?> --> Book Name</h2>
                                <p class="book-author">
                                    By <span class="book-author-name">
                                        <a href="/authors/1">           
                                           <!--  <?=$book['author']['name']?> -->
                                           Author Name
                                        </a>
                                    </span>
                                </p>
                                <div class="star-rating">
                                <!-- <?for($i=1; $i<=5; $i++):?>
                                    <i class="fa fa-star <?=($i <= $book['rating']) ? 'color':''?>"></i>
                                <? endfor; ?> -->
                                <i class="fa fa-star color"></i>
                                <i class="fa fa-star color"></i>
                                <i class="fa fa-star color"></i>
                                <i class="fa fa-star color"></i>
                                <i class="fa fa-star color"></i>
                            </div><!-- /.star-rating -->   
                            </div><!-- /.book-detail-header -->

                            <div class="book-detail-body">

                                <div class="detail-cart-button row clearfix">
                                    <div class="pull-left col-md-6 col-sm-5 col-xs-12">
                                        <div class="detail-book-price">
                                            <span class="price">
                                                <!-- <? if($book['sale_off']): ?>
                                                    <span class="price-before-discount">
                                                        $ <?=$book['price']?>
                                                    </span> 
                                                    $ <?=$book['sale_off']?>
                                                <? else: ?>
                                                    $ <?=$book['price']?>
                                                <? endif; ?> -->
                                                <span class="price-before-discount">
                                                        <!-- $ <?=$book['price']?> -->
                                                        $ 100
                                                    </span>
                                                $ 150
                                            </span>
                                        </div><!-- /.detail-book-price -->
                                    </div><!-- /.pull-left -->

                                    <!-- <? if(isset($user)): ?> -->
                                        <div class="pull-right col-md-6 col-sm-7 col-xs-12">
                                            <div class="row product-actions">
                                                <a href="#" class="col-sm-6 btn btn-primary btn-addToCart" id="<?=(array_key_exists($book['id'], $session_cart_books)) ? 'remove-from-cart-detail':'add-to-cart-detail'?>" data-book="<?=$book['id']?>" data-price="<?=($book['sale_off']) ? $book['sale_off']:$book['price']?>" title="<?=(array_key_exists($book['id'], $session_cart_books)) ? 'Remove from Cart':'Add to Cart'?>">
                                                    <!-- <? if(array_key_exists($book['id'], $session_cart_books)): ?> -->
                                                        <i class="icon icon-minus fa fa-minus-circle"></i> 
                                                        <span>Remove</span>
                                                   <!--  <? else: ?>
                                                        <i class="icon icon-plus fa fa-plus-circle"></i>
                                                        <span>Add</span>
                                                    <? endif; ?> -->
                                                </a>  
                                                <button title="<?=(in_array($book['id'], $session_fav_books)) ? 'Remove from Favourite':'Add to Favourite'?>" id="<?=(in_array($book['id'], $session_fav_books)) ? 'remove-from-favourite-detail':'add-to-favourite-detail'?>" data-book="<?=$book['id']?>" data-user="<?=$user?>" class="hidden-xs btn btn-secondary btn-add-to-wishlist col-xs-2 " type="button">
                                                    <span class="icon glyphicon glyphicon-heart"></span>
                                                </button>
                                            </div><!-- /.row -->
                                        </div><!-- /.pull-right -->
                                   <!--  <? endif; ?> -->
                                </div><!-- /.detail-cart-button -->

                                <div class="clearfix"></div>

                                <div class="product-description">
                                    <h3>Quick Overview</h3>
                                    <p><!-- <?=$book['overview']?> --> BOOK OVERVIEW</p>
                                </div><!-- /.product-description -->

                            </div><!-- /.book-detail-body -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->

                    <div class="tab-holder clearfix">
                        <div class="book-additional-details">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs book-detail-tab">
                                <li class="active" role="presentation"><a href="#more" data-toggle="tab">More About This Book</a></li>
                                <li role="presentation"><a href="#product-details" data-toggle="tab">Product Details</a></li>
                                <li role="presentation"><a href="#shipping" data-toggle="tab">Shipping</a></li>
                                <li role="presentation"><a href="#first-chapter" data-toggle="tab">First Chapter</a></li>
                            </ul><!-- /.nav -->

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="more" role="tabpanel">
                                    <h3>Consectetur adipisicing elit, sed do eiusmod</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis.</p>
                                    <p>Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan.Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.</p>
                                </div><!-- /.tab-pane -->

                                <div class="tab-pane" id="product-details" role="tabpanel">
                                    <ul class="list-unstyled list-kybook uppercase">
                                        <li>Sed do eiusmod tempor incididunt ut labore et dolore</li>
                                        <li>Sed do eiusmod tempor incididunt ut labore et dolore</li>
                                        <li>Sed do eiusmod tempor incididunt ut labore et dolore</li>
                                        <li>Sed do eiusmod tempor incididunt ut labore et dolore</li>
                                    </ul>
                                </div>

                                <div class="tab-pane" id="shipping" role="tabpanel">
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p> 
                                </div><!-- /.tab-pane -->

                                <div class="tab-pane" id="first-chapter" role="tabpanel">
                                    <h3>Consectetur adipisicing elit, sed do eiusmod</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis.</p>
                                    <p>Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan.Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.</p>
                                </div><!-- /.tab-pane -->

                            </div><!-- /.tab-content -->
                        </div><!-- /.book-additional-details -->
                    </div><!-- /.col -->
                </div><!-- /.primary-block -->
            </div><!-- /.container -->

           <!--  <? if(count($book['related_books']) > 0): ?> -->
            <!-- ========================================= RELATE BOOKS MODULE ========================================= -->
            <div class="container">
                <div class="wow fadeInUp">
                    <div class="module block-relate-books module-block">

                        <div class="module-heading">
                            <h2 class="module-title">Relate Books</h2>
                            <div class="customNavigation">
                                <ul id="myTab" class="nav nav-tabs grid-list-view-buttons" role="tablist">
                                   <!--  <? if(count($book['related_books']) < 4): ?>  -->            
                                        <li role="presentation" class="active">
                                            <a href="#list" class="btn navbar-btn" role="tab" data-toggle="tab">
                                                <span class="glyphicon glyphicon-th-list active"></span>
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#grid" class="btn navbar-btn" role="tab" data-toggle="tab">
                                                <span class="glyphicon glyphicon-th"></span>
                                            </a>
                                        </li>
                                    <!-- <? else: ?>
                                        <li role="presentation" class="active">
                                            <a href="#grid" class="btn navbar-btn" role="tab" data-toggle="tab">
                                                <span class="glyphicon glyphicon-th active"></span>
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#list" class="btn navbar-btn" role="tab" data-toggle="tab">
                                            <span class="glyphicon glyphicon-th-list"></span>
                                            </a>
                                        </li>
                                    <? endif; ?> -->
                                </ul><!-- /.nav -->
                            </div>
                            <p class="module-subtitle">Do eiusmod tempor incid... et dolore magna aliqua</p>
                        </div><!-- /.module-heading -->
                    </div> <!-- /.module -->

                    <div class="tab-content">
                    
                    <div class="tab-pane wow fadeInUp active" id="list" role="tabpanel" style="visibility: visible; animation-name: fadeInUp;">
                        <!-- <? foreach($book['related_books'] as $related_book): ?> -->
                            <div class="featured-book">   
                                <div class="books clearfix">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-5">
                                            <div class="book">
                                                <!-- <? if($related_book['hot']): ?>  -->
                                                    <div class="hot-ribbon">
                                                        <div class="hot-ribbon-content">hot</div>
                                                    </div>   
                                                <!-- <? endif; ?>  -->
                                               <!--  <? if($related_book['sale_off']): ?> --> 
                                                    <div class="sale-ribbon">
                                                        <div class="sale-ribbon-content">sale off</div>
                                                    </div> 
                                              <!--   <? endif; ?> -->
                                                <div class="book-cover">
                                                    <img class="img-responsive" alt="" width="193" height="261" src="{% static '/images/books/2.jpg' %}">
                                                    <div class="fade"></div>
                                                    <div class="book-price">
                                                        <span class="price">
                                                           <!--  <? if($related_book['sale_off']): ?>
                                                                <span class="price-before-discount">
                                                                    $ <?=$related_book['price']?>
                                                                </span> 
                                                                $ <?=$related_book['sale_off']?>
                                                            <? else: ?>
                                                                $ <?=$related_book['price']?>
                                                            <? endif; ?> -->
                                                            <span class="price-before-discount">
                                                                    $ 100
                                                                </span> 
                                                            $ 150
                                                        </span>
                                                    </div><!-- /.book-price -->
                                                </div><!-- /.book-cover -->
                                            </div><!-- /.book -->
                                        </div><!-- /.col -->

                                        <div class="col-md-9 col-sm-7">
                                            <div class="book-details book-details-list-view">
                                                <h3 class="book-title">
                                                    <a href="/books/2">
                                                        <!-- <?=$related_book['name']?> -->
                                                        BOOK NAME    
                                                    </a>
                                                </h3>
                                                <p class="book-author">
                                                    <a href="/authors/2">
                                                       <!--  <?=$related_book['author']['name']?> -->
                                                       AUTHOR NAME
                                                    </a>
                                                </p>
                                                <div class="star-rating">
                                                    <!-- <?for($i=1; $i<=5; $i++):?>
                                                        <i class="fa fa-star <?=($i <= $related_book['rating']) ? 'color':''?>"></i>
                                                    <? endfor; ?> -->
                                                    <i class="fa fa-star color"></i>
                                                    <i class="fa fa-star color"></i>
                                                    <i class="fa fa-star color"></i>
                                                    <i class="fa fa-star color"></i>
                                                    <i class="fa fa-star color"></i>
                                                </div><!-- /.star-rating -->                                
                                            </div><!-- /.book-details -->

                                            <div class="featured-book-content">
                                                <p class="hidden-sm hidden-md">
                                                   <!--  <?=$related_book['overview']?> -->
                                                    BOOK OVERVIEW
                                                </p>

                                            </div><!-- /.featured-book-content -->
                                            <!-- <? if(isset($user)): ?> -->
                                                <div class="actions">
                                                    <a class="add-to-cart book-<?=$related_book['id']?>" id="<?=(array_key_exists($related_book['id'], $session_cart_books)) ? 'list-remove-from-cart':'list-add-to-cart'?>" data-book="<?=$related_book['id']?>" data-price="<?=($related_book['sale_off']) ? $related_book['sale_off']:$related_book['price']?>" title="<?=(array_key_exists($related_book['id'], $session_cart_books)) ? 'Remove from Cart':'Add to Cart'?>" href="#">
                                                        <!-- <? if(array_key_exists($related_book['id'], $session_cart_books)): ?> -->
                                                            <i class="icon icon-minus fa fa-minus-circle"></i>
                                                        <!-- <? else: ?>
                                                            <i class="icon icon-plus fa fa-plus-circle"></i>
                                                        <? endif; ?> -->
                                                    </a>
                                                    <a class="add-to-cart book-<?=$related_book['id']?>" id="<?=(in_array($related_book['id'], $session_fav_books)) ? 'list-remove-from-favourite':'list-add-to-favourite'?>" data-book="<?=$related_book['id']?>" data-user="<?=$user?>" href="#" title="<?=(in_array($related_book['id'], $session_fav_books)) ? 'Remove from Favourite':'Add to Favourite'?>">
                                                        <i class="icon icon-heart fa fa-heart"></i>
                                                    </a>
                                                </div><!-- /.actions -->
                                            <!-- <? endif; ?> -->
                                        </div><!-- /.col -->
                                    </div><!-- /.row -->
                                </div><!-- /.books -->
                            </div><!-- /.feature-book -->
                       <!--  <? endforeach; ?> -->
                    </div><!-- /.tab-pane -->

                    <div class="tab-pane  wow fadeInUp" id="grid" role="tabpanel" style="visibility: visible; animation-name: fadeInUp;">
                    
                        <div class="category-books books grid-view">
                            <div class="row">
                               <!-- <? foreach($book['related_books'] as $related_book): ?> -->
                                    <div class="col-md-3 col-sm-6">
                                        <div class="book">      
                                            <!-- <? if($related_book['hot']): ?> --> 
                                                <div class="hot-ribbon">
                                                    <div class="hot-ribbon-content">hot</div>
                                                </div>   
                                            <!-- <? endif; ?> 
                                            <? if($related_book['sale_off']): ?>  -->
                                                <div class="sale-ribbon">
                                                    <div class="sale-ribbon-content">sale off</div>
                                                </div> 
                                            <!-- <? endif; ?> -->
                                            <div class="book-cover">
                                                <div class="book-inner">
                                                    <img class="img-responsive" alt="" width="193" height="261" src="{% static '/images/books/2.jpg' %}">
                                                    <div class="fade"></div>
                                                    <div class="book-price">
                                                        <span class="price">
                                                            <!-- <? if($related_book['sale_off']): ?>
                                                                <span class="price-before-discount">
                                                                    $ <?=$related_book['price']?>
                                                                </span> 
                                                                $ <?=$related_book['sale_off']?>
                                                            <? else: ?>
                                                                $ <?=$related_book['price']?>
                                                            <? endif; ?> -->   
                                                            <span class="price-before-discount">
                                                                    $ 100
                                                                </span>  
                                                            $ 150                 
                                                        </span>
                                                    </div><!-- /.book-price -->
                                                    <!-- <? if(isset($user)): ?> -->
                                                        <div class="cart animate-effect">
                                                            <div class="action">
                                                                <a class="add-to-cart book-<?=$related_book['id']?>" id="<?=(array_key_exists($related_book['id'], $session_cart_books)) ? 'grid-remove-from-cart':'grid-add-to-cart'?>" data-book="<?=$related_book['id']?>" data-price="<?=($related_book['sale_off']) ? $related_book['sale_off']:$related_book['price']?>" title="<?=(array_key_exists($related_book['id'], $session_cart_books)) ? 'Remove from Cart':'Add to Cart'?>" href="#">
                                                                    <!-- <? if(array_key_exists($related_book['id'], $session_cart_books)): ?> -->
                                                                        <i class="icon icon-minus fa fa-minus-circle"></i>
                                                                   <!--  <? else: ?>
                                                                        <i class="icon icon-plus fa fa-plus-circle"></i>
                                                                    <? endif; ?> -->
                                                                </a>
                                                                <a class="add-to-cart book-<?=$related_book['id']?>" id="<?=(in_array($related_book['id'], $session_fav_books)) ? 'grid-remove-from-favourite':'grid-add-to-favourite'?>" data-book="<?=$related_book['id']?>" data-user="<?=$user?>" href="#" title="<?=(in_array($related_book['id'], $session_fav_books)) ? 'Remove from Favourite':'Add to Favourite'?>">
                                                                    <i class="icon icon-heart fa fa-heart"></i>
                                                                </a>
                                                            </div><!-- /.action -->
                                                        </div><!-- /.cart -->
                                                    <!-- <? endif; ?> -->
                                                </div><!-- /.book-inner -->
                                            </div><!-- /.book-cover -->

                                            <div class="book-details">
                                                <h3 class="book-title">
                                                    <a href="/books/2"> 
                                                        View Book
                                                    </a>
                                                </h3>
                                                <p class="book-author">
                                                    <a href="/authors/2">
                                                       <!--  <?=$related_book['author']['name']?> -->
                                                       AUTHOR NAME
                                                    </a>
                                                </p>
                                                <div class="star-rating">
                                                    <!-- <?for($i=1; $i<=5; $i++):?>
                                                        <i class="fa fa-star <?=($i <= $related_book['rating']) ? 'color':''?>"></i>
                                                    <? endfor; ?> -->
                                                    <i class="fa fa-star color"></i>
                                                    <i class="fa fa-star color"></i>
                                                    <i class="fa fa-star color"></i>
                                                    <i class="fa fa-star color"></i>
                                                    <i class="fa fa-star color"></i>
                                                </div><!-- /.star-rating -->
                                            </div><!-- /.book-details -->
                                        </div><!-- /.book -->
                                    </div> <!-- /.col -->
                                    <!-- <? endforeach; ?> -->
                            </div> <!-- /.row -->
                        </div><!-- /.category-books -->
                    </div><!-- /.tab-pane -->

                </div> <!-- /.tab-content -->
            </div><!-- /.wow -->
        </div><!-- /.container -->
        <!-- <? endif; ?> -->
        <!-- ========================================= RELATE BOOKS MODULE : END ========================================= -->
        </div><!-- /.book-detail page -->
        <a class="scrollup hidden-xs hidden-sm" href="#" style="display: none;">
            <img src="{% static 'images/top-scroll.png' %}" alt="" ></a>
        </a>
        </div>
 
    </div><!-- /.container -->
{% endblock %}