{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="content">
        <div class="breadcrumb-container">
            <div class="container">
                <ul class="breadcrumb pull-left">
                    <li><a href="<?=BASE_URL?>">Home</a></li>
                    <li class="active">Shopping cart</li>
                </ul><!-- /.breadcrumb -->

            </div><!-- /.container -->
        </div><!-- /.breadcrumb-container -->

        <div class="cart page">
            <div class="container">

                <? if(count($cart_books) > 0): ?>
                    <div class="page-header">
                        <h2 class="page-title">Shopping Cart</h2>
                        <p class="page-subtitle">DO eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                    </div><!-- /.page-header -->

                    <div class="page-body">
                        <div class="order-detail table-responsive">
                            <table class="table table-cart cart-detail ">
                                <thead>
                                    <tr>
                                        <th class="dark">Book Name</th>
                                        <th>Unit Price</th>
                                        <th class="dark text-center">Qty</th>
                                        <th>Subtotal</th>
                                        <th class="dark"></th>
                                    </tr>
                                </thead><!-- /thead -->                
                                <tbody class="cart-body-content">
                                    <? foreach($cart_books as $book): ?>
                                        <tr class="cart-book" data-book=<?=$book['id']?>>
                                            <td>
                                                <div class="media">
                                                    <a href="<?=BASE_URL?>/books/<?=$book['id']?>" width="72" heigh="99" class="cart-thumbnail-image media-left">
                                                        <div class="book-cover small-book-cover">
                                                            <img src="<?=BASE_URL.$book['image']?>" alt="" class="media-object">
                                                            <div class="fade"></div>
                                                        </div>
                                                    </a>
                                                    <div class="media-body">
                                                        <h3 class="media-heading"><a href="<?=BASE_URL?>/books/<?=$book['id']?>"><?=$book['name']?></a></h3>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <span class="price">
                                                    <? if($book['sale_off']): ?>
                                                        $<?=sprintf('%0.2f', $book['sale_off'])?>
                                                    <? else: ?>
                                                        $<?=sprintf('%0.2f', $book['price'])?>
                                                    <? endif; ?>
                                                </span>
                                            </td>
                                            <td class="quantity text-center">            
                                                <div class="quant-input" data-book="<?=$book['id']?>">
                                                    <div class="arrows">
                                                        <div class="arrow plus gradient">
                                                            <span class="ir"></span>
                                                        </div>
                                                        <div class="arrow minus gradient">
                                                            <span class="ir"></span>
                                                        </div>
                                                    </div>
                                                    <input class="txt-quantity" type="text" value="<?=$session_cart_books[$book['id']]['count']?>"/>
                                                </div>              
                                            </td>
                                            <td>
                                                <span class="price subtotal">
                                                    <? if($book['sale_off']): ?>
                                                        $<?=sprintf('%0.2f', $book['sale_off'] * $session_cart_books[$book['id']]['count'])?>
                                                    <? else: ?>
                                                        $<?=sprintf('%0.2f', $book['price'] * $session_cart_books[$book['id']]['count'])?>
                                                    <? endif; ?>
                                                </span>
                                            </td>
                                            <td>
                                                <button class="btn btn-primary-light btn-flat" id="delete-from-cart" type="button">X</button>
                                            </td>
                                        </tr>
                                    <? endforeach; ?>
                                </tbody><!-- /.cart-body-content -->
                            </table><!-- /.table -->
                        </div><!-- /.order-detail -->
                        <div class="row">

                            <div class="col-xs-12 col-sm-4 center-sm">
                                
                            </div><!-- /.col -->

                            <div class="col-xs-12 col-sm-8 center-sm">
                                <div class="table-responsive">
                                    <table class="table table-cart">
                                        <tfoot>
                                            <tr>
                                                <td ><i class="icon-chevron fa fa-chevron-right"></i>&nbsp;Total:</td>
                                                <td id="total-amount">$<?=sprintf('%0.2f', $total_amount)?></td>
                                            </tr>
                                        </tfoot><!-- /tfoot -->
                                    </table><!-- /table -->
                                </div><!-- /table-responsive -->
                            </div><!-- /.col -->
                            <div class="col-md-12">
                                <a id="checkout" href="#" class="pull-right btn btn-primary btn-checkout">Let's Buy <i class="fa fa-chevron-right"></i></a>
                            </div>

                        </div><!-- /.row -->
                    </div><!-- /.page-body -->
                <? else: ?>
                    <div class="page-header">
                        <h2 class="page-title">OOPS! Shopping Cart Empty</h2>
                        <p class="page-subtitle">DO eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                    </div><!-- /.page-header -->
                <? endif; ?>
            </div><!-- /.container -->
        </div><!-- /.cart page -->            
        <a class="scrollup hidden-xs hidden-sm" href="#" style="display: none;">
            <img src="<?=BASE_URL?>/assets/images/top-scroll.png" alt="" >
        </a>
    </div>

 </div><!-- /.container -->
 {% endblock %}