    <div class="content">
        <div class="breadcrumb-container">
            <div class="container">
                <ul class="breadcrumb pull-left">
                    <li><a href="<?=BASE_URL?>">Home</a></li>
                    <li><a href="<?=BASE_URL?>/cart">Shopping Cart</a></li>
                    <li class="active">Checkout</li>
                </ul><!-- /.breadcrumb -->
            </div><!-- /.container -->
        </div><!-- /.breadcrumb-container -->

        <div class="checkout page">
            <div class="container">
                <div class="page-header">
                    <h2 class="page-title">Checkout</h2>
                    <p class="page-subtitle">You purchase order is: <?=$purchase_id?>. We will email you our payment options. Thank you!</p>
                </div><!-- /.page-header -->
            </div><!-- /.container -->
        </div><!-- /.checkout page -->

        <a class="scrollup hidden-xs hidden-sm" href="#" style="display: none;"><img src="<?=BASE_URL?>/assets//images/top-scroll.png" alt="" ></a>
    </div>

    </div><!-- /.container -->