{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="content">
        <div class="breadcrumb-container">
            <div class="container">
                <ul class="breadcrumb pull-left">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    {% if page %}
                        <li><a href="{% url page.view %}">{{page.name}}</a></li>
                    {% endif %}
                    <li class="active">not found</li>
                </ul><!-- /.breadcrumb -->
            </div><!-- /.container -->
        </div><!-- /.breadcrumb-container -->

        <div class="not-found page">
            <div class="container">
                <div class="center-block  not-found-page-content">
                    <div class="page-header">
                        <h2 class="page-title">Oops! Not Found</h2>
                        <p class="page-subtitle">Do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                    </div><!-- /.page-header -->
                </div><!-- /.col -->            
            </div><!-- /.container -->
        </div><!-- /.not-found page -->            
        <a class="scrollup hidden-xs hidden-sm" href="#" style="display: none;">
            <img src="{% static 'images/top-scroll.png' %}" alt="" >
        </a>
    </div>

</div><!-- /.container -->
{% endblock %}