{% load static %}
<!-- ============================================================= FOOTER ============================================================= -->
<footer class="footer">
<div class="sub-footer">
<div class="container">
<div class="sub-footer-widget">
<div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <!-- ============================================================= FOOTER SUBSCRIBE ============================================================= -->
        <div class="module">
            <div class="module-heading">
                <h2 class="module-title">Subscribe</h2>
            </div><!-- /.module-heading -->

            <div class="module-body">
                <form role="form" class="subscribe-form">
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="input-group">
                                <input type="text" class="form-control subscriber-name" placeholder="Enter your email">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary-dark  send-btn" type="submit">Send</button>
                                </span>
                            </div><!-- /.input-group -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </form><!-- /.subscribe-form -->
            </div><!-- /.module-body -->
        </div><!-- /.module -->

        <!-- ============================================================= FOOTER SUBSCRIBE : END ============================================================= -->                    </div><!-- /.col -->

        <div class="col-md-4 hidden-sm col-xs-12">
            <!-- ============================================================= FOOTER BOOK TIPS ============================================================= -->
            <div class="module">
                <div class="module-heading">
                    <h2 class="module-title">Book Tips</h2>
                    <p class="module-subtitle">consectetur adipisicing elit, sed do</p>
                </div><!-- /.module-heading -->

                <div class="module-body subfooter-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit.</p>
                </div><!-- /.module-body -->
            </div><!-- /.module -->
            <!-- ============================================================= FOOTER BOOK TIPS : END ============================================================= -->

        </div><!-- /.col -->

        <div class="col-md-4 col-sm-6 col-xs-12">
            <!-- ============================================================= FOOTER SOCIAL SITE ============================================================= -->
            <div class="module">
                <div class="module-heading">
                    <h2 class="module-title">Social</h2>
                    <p class="module-subtitle">Follow us in Social Site</p>
                </div><!-- /.module-heading -->

                <div class="module-body social-media">
                    <ul class="nav nav-pills social-media-list" id="tooltip">
                        <li style="background-color:#587aca;"><a data-toggle="tooltip" title="Facebook" data-placement="bottom"  href="http://facebook.com/transvelo/"><i class="icon fa fa-facebook"></i></a></li>
                        <li style="background-color:#f46899;"><a  data-toggle="tooltip" title="Dribble" data-placement="bottom"  href="http://dribbble.com/transvelo/"><i class="icon fa fa-dribbble"></i></a></li>
                        <li style="background-color:#5dc8ff;"><a  data-toggle="tooltip" title="Twitter" data-placement="bottom"  href="http://twitter.com/transvelo/"><i class="icon fa fa-twitter"></i></a></li>
                        <li style="background-color:#358aff;"><a  data-toggle="tooltip" data-placement="bottom" title="Btc" href="http://btc.com/transvelo/"><i class="icon fa fa-btc"></i></a></li>
                        <li style="background-color:#8e714b;"><a  data-toggle="tooltip" data-placement="bottom" title="Instagram" href="http://instagram.com/transvelo/"><i class="icon fa fa-instagram"></i></a></li>
                        <li style="background-color:#4d6982;"><a  data-toggle="tooltip" data-placement="bottom" title="Tumbler" href="http://tumbler.com/transvelo/"><i class="icon fa fa-tumblr"></i></a></li>
                    </ul><!-- /.nav -->
                </div><!-- /.module-body -->
            </div><!-- /.module -->

            <!-- ============================================================= FOOTER SOCIAL SITE : END ============================================================= -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.sub-footer-widget -->
</div><!-- /.container -->
</div><!-- /.sub-footer -->

<div class="main-footer">
<div class="container">
<div class="row footer-widgets">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <!-- ============================================================= FOOTER SHIPPING DELIVERY ============================================================= -->
        <div class="module">
            <div class="module-heading">
                <h4 class="module-title">Shipping</h4>
            </div><!-- /.module-heading -->

            <div class="module-body">
                <ul class="list-unstyled list-link">
                    <li><a href="/checkout">About Free Shipping</a></li>
                    <li><a href="/checkout">About Shipping</a></li>
                    <li><a href="/checkout">Shipping Rates</a></li>
                    <li><a href="/checkout">Store Returns</a></li>
                </ul><!-- /.list-link -->
            </div><!-- /.module-body -->
        </div><!-- /.module -->
        <!-- ============================================================= FOOTER SHIPPING DELIVERY : END ============================================================= -->                </div><!-- /.col -->

        <div class="col-md-3 col-sm-6 col-xs-12">
            <!-- ============================================================= FOOTER INFORMATION ============================================================= -->
            <div class="module">
                <div class="module-heading">
                    <h4 class="module-title">Information</h4>
                </div><!-- /.module-heading -->

                <div class="module-body">
                    <ul class="list-unstyled list-link">
                        <li><a href="/checkout">Contact</a></li>
                        <li><a href="/checkout">Delivery</a></li>
                        <li><a href="/checkout">Legal Notice</a></li>
                        <li><a href="/checkout">Terms and Conditions</a></li>
                    </ul><!-- /.list-link -->
                </div><!-- /.module-body -->
            </div><!-- /.module -->
            <!-- ============================================================= FOOTER INFORMATION : END ============================================================= -->                </div><!-- /.col -->

            <div class="col-md-3 col-sm-6 col-xs-12">
                <!-- ============================================================= FOOTER QUICK HELP ============================================================= -->
                <div class="module">
                    <div class="module-heading">
                        <h4 class="module-title">Quick Help</h4>
                    </div><!-- /.module-heading -->

                    <div class="module-body">
                        <ul class="list-unstyled list-link">
                            <li><a href="/contact">Customer Service</a></li>
                            <li><a href="/contact">Order Status</a></li>
                            <li><a href="/contact">Easy Returns</a></li>
                            <li><a href="/contact">Product Recall</a></li>
                        </ul><!-- /.list-link -->
                    </div><!-- /.module-body -->
                </div><!-- /.module -->
                <!-- ============================================================= FOOTER QUICK HELP : END ============================================================= -->
            </div><!-- /.col -->

            <div class="col-md-3 col-sm-6 col-xs-12">
                <!-- ============================================================= FOOTER PAYMENT ============================================================= -->
                <div class="module">
                    <div class="module-heading">
                        <h4 class="module-title">Payment</h4>
                        <p class="module-subtitle">We now accept payment</p>
                    </div><!-- /.module-heading -->

                    <div class="module-body">
                        <ul class="nav nav-pills payment-list">
                            <li><img src="{% static 'images/payments/visa.png' %}" alt=""></li>
                            <li><img src="{% static 'images/payments/mastercard.png' %}" alt=""></li>
                            <li><img src="{% static 'images/payments/paypal.png' %}" alt=""></li>
                            <li><img src="{% static 'images/payments/ebay.png' %}" alt=""></li>
                            <li><img src="{% static 'images/payments/americanexpress.png' %}" alt=""></li>
                        </ul><!-- /.payment-list -->
                    </div><!-- /.module-body -->
                </div><!-- /.module -->
                <!-- ============================================================= FOOTER PAYMENT : END ============================================================= -->                </div><!-- /.col -->
            </div><!-- /.row -->

            <!-- ============================================================= FOOTER NAVBAR ============================================================= -->
            <div class="navbar-footer navbar-static-bottom clearfix">
                <p class="navbar-text">Copyright &copy; 2014 <span class="navbar-inner-text">KYBOOk</span></p>
                <ul id="example" class="navbar-nav nav ">
                    <li><a href="/">Home</a></li>
                    <li><a href="/">About Us</a></li>
                    <li><a href="/">FAQS</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/">Support</a></li>
                    <li><a href="/contact">Shipping</a></li>
                    <li>
                        <ul class="language-block">
                            <li>
                                <select class="selectpicker">
                                    <option selected>USD</option>
                                    <option>EUR</option>
                                    <option>INR</option>
                                </select>
                            </li>
                            <li>
                                <select class="selectpicker">
                                    <option selected>EN</option>
                                    <option>DE</option>
                                    <option>TA</option>
                                </select>
                            </li>
                        </ul><!-- /.language-block -->
                    </li>
                </ul><!-- /.navbar-nav -->
            </div><!-- /.navbar -->
            <!-- ============================================================= FOOTER NAVBAR : END ============================================================= -->            
        </div><!-- /.container -->
    </div><!-- /.main-footer -->
</footer><!-- /.footer -->

<!-- ============================================================= FOOTER : END ============================================================= 