{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="content">
    <div class="breadcrumb-container">
        <div class="container">
            <ul class="breadcrumb pull-left">
                <li><a href="<?=BASE_URL?>">Home</a></li>
                <li class="active">Wishlist</li>
            </ul><!-- /.breadcrumb -->
     
        </div><!-- /.container -->
    </div><!-- /.breadcrumb-container -->

    <!-- ========================================= RELATE BOOKS MODULE ========================================= -->
    <div class="container">
        <div class="wow fadeInUp">
            <div class="module block-relate-books module-block">
                <? if(count($books) > 0): ?>
                    <div class="module-heading">
                        <h2 class="module-title">Wishlist</h2>
                        <div class="customNavigation">
                            <ul id="myTab" class="nav nav-tabs grid-list-view-buttons" role="tablist">
                                <? if(count($books) < 4): ?>             
                                    <li role="presentation" class="active">
                                        <a href="#list" class="btn navbar-btn" role="tab" data-toggle="tab">
                                            <span class="glyphicon glyphicon-th-list active"></span>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#grid" class="btn navbar-btn" role="tab" data-toggle="tab">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </a>
                                    </li>
                                <? else: ?>
                                    <li role="presentation" class="active">
                                        <a href="#grid" class="btn navbar-btn" role="tab" data-toggle="tab">
                                            <span class="glyphicon glyphicon-th active"></span>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#list" class="btn navbar-btn" role="tab" data-toggle="tab">
                                        <span class="glyphicon glyphicon-th-list"></span>
                                        </a>
                                    </li>
                                <? endif; ?>
                            </ul><!-- /.nav -->
                        </div>
                        <p class="module-subtitle">Do eiusmod tempor incid... et dolore magna aliqua</p>
                    </div><!-- /.module-heading -->
                <? else: ?>
                    <div class="module-heading">
                        <h2 class="module-title">Oops! Wishlist Empty</h2>
                        <p class="module-subtitle">Do eiusmod tempor incid... et dolore magna aliqua</p>
                    </div>
                <? endif; ?>

            </div> <!-- /.module -->

            <div class="tab-content">
                <div class="tab-pane wow fadeInUp <?=(count($books) < 4) ? 'active':''?>" id="list" role="tabpanel" style="visibility: visible; animation-name: fadeInUp;">
                    <? foreach($books as $book): ?>
                        <div class="featured-book" id="book-<?=$book['id']?>">   
                            <div class="books clearfix">
                                <div class="row">
                                    <div class="col-md-3 col-sm-5">
                                        <div class="book">
                                            <? if($book['hot']): ?> 
                                                <div class="hot-ribbon">
                                                    <div class="hot-ribbon-content">hot</div>
                                                </div>   
                                            <? endif; ?> 
                                            <? if($book['sale_off']): ?> 
                                                <div class="sale-ribbon">
                                                    <div class="sale-ribbon-content">sale off</div>
                                                </div> 
                                            <? endif; ?>
                                            <div class="book-cover">
                                                <img class="img-responsive" alt="" width="193" height="261" src="<?=BASE_URL.$book['image']?>">
                                                <div class="fade"></div>
                                                <div class="book-price">
                                                    <span class="price">
                                                        <? if($book['sale_off']): ?>
                                                            <span class="price-before-discount">
                                                                $ <?=$book['price']?>
                                                            </span> 
                                                            $ <?=$book['sale_off']?>
                                                        <? else: ?>
                                                            $ <?=$book['price']?>
                                                        <? endif; ?>
                                                    </span>
                                                </div><!-- /.book-price -->
                                            </div><!-- /.book-cover -->
                                        </div><!-- /.book -->
                                    </div><!-- /.col -->

                                    <div class="col-md-9 col-sm-7">
                                        <div class="book-details book-details-list-view">
                                            <h3 class="book-title">
                                                <a href="<?=BASE_URL.'/books/'.$book['id']?>"><?=$book['name']?></a>
                                            </h3>
                                            <div class="star-rating">
                                                <?for($i=1; $i<=5; $i++):?>
                                                    <i class="fa fa-star <?=($i <= $book['rating']) ? 'color':''?>"></i>
                                                <? endfor; ?>
                                            </div><!-- /.star-rating -->                                
                                        </div><!-- /.book-details -->

                                        <div class="featured-book-content">
                                            <p class="hidden-sm hidden-md"><?=$book['overview']?></p>

                                        </div><!-- /.featured-book-content -->
                                        <div class="actions">
                                            <a class="add-to-cart book-<?=$book['id']?>" id="<?=(array_key_exists($book['id'], $session_cart_books)) ? 'list-remove-from-cart':'list-add-to-cart'?>" data-book="<?=$book['id']?>" data-price="<?=($book['sale_off']) ? $book['sale_off']:$book['price']?>" title="<?=(array_key_exists($book['id'], $session_cart_books)) ? 'Remove from Cart':'Add to Cart'?>" href="#">
                                                <? if(array_key_exists($book['id'], $session_cart_books)): ?>
                                                    <i class="icon icon-minus fa fa-minus-circle"></i>
                                                <? else: ?>
                                                    <i class="icon icon-plus fa fa-plus-circle"></i>
                                                <? endif; ?>
                                            </a>
                                            <a class="add-to-cart" id="remove-from-wishlist" data-book="<?=$book['id']?>" data-user="<?=$user?>" href="#" title="Remove from Favourite">
                                                <i class="icon icon-heart fa fa-heart"></i>
                                            </a>
                                        </div><!-- /.actions -->
                                    </div><!-- /.col -->
                                </div><!-- /.row -->
                            </div><!-- /.books -->
                        </div><!-- /.feature-book -->
                    <? endforeach; ?>
                </div><!-- /.tab-pane -->
                <div class="tab-pane  wow fadeInUp <?=(count($books) >= 4) ? 'active':''?>" id="grid" role="tabpanel" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="category-books books grid-view">
                        <div class="row">
                           <? foreach($books as $book): ?>
                                <div class="col-md-3 col-sm-6" id="book-<?=$book['id']?>">
                                    <div class="book">      
                                        <? if($book['hot']): ?> 
                                            <div class="hot-ribbon">
                                                <div class="hot-ribbon-content">hot</div>
                                            </div>   
                                        <? endif; ?> 
                                        <? if($book['sale_off']): ?> 
                                            <div class="sale-ribbon">
                                                <div class="sale-ribbon-content">sale off</div>
                                            </div> 
                                        <? endif; ?>
                                        <div class="book-cover">
                                            <div class="book-inner">
                                                <img class="img-responsive" alt="" width="193" height="261" src="<?=BASE_URL.$book['image']?>">
                                                <div class="fade"></div>
                                                <div class="book-price">
                                                    <span class="price">
                                                        <? if($book['sale_off']): ?>
                                                            <span class="price-before-discount">
                                                                $ <?=$book['price']?>
                                                            </span> 
                                                            $ <?=$book['sale_off']?>
                                                        <? else: ?>
                                                            $ <?=$book['price']?>
                                                        <? endif; ?>                     
                                                    </span>
                                                </div><!-- /.book-price -->
                                                <div class="cart animate-effect">
                                                    <div class="action">
                                                        <a class="add-to-cart book-<?=$book['id']?>" id="<?=(array_key_exists($book['id'], $session_cart_books)) ? 'grid-remove-from-cart':'grid-add-to-cart'?>" data-book="<?=$book['id']?>" data-price="<?=($book['sale_off']) ? $book['sale_off']:$book['price']?>" title="<?=(array_key_exists($book['id'], $session_cart_books)) ? 'Remove from Cart':'Add to Cart'?>" href="#">
                                                            <? if(array_key_exists($book['id'], $session_cart_books)): ?>
                                                                <i class="icon icon-minus fa fa-minus-circle"></i>
                                                            <? else: ?>
                                                                <i class="icon icon-plus fa fa-plus-circle"></i>
                                                            <? endif; ?>
                                                        </a>
                                                        <a class="add-to-cart" id="remove-from-wishlist" data-book="<?=$book['id']?>" data-user="<?=$user?>" href="#" title="Remove from Favourite">
                                                            <i class="icon icon-heart fa fa-heart"></i>
                                                        </a>
                                                    </div><!-- /.action -->
                                                </div><!-- /.cart -->
                                            </div><!-- /.book-inner -->
                                        </div><!-- /.book-cover -->

                                        <div class="book-details">
                                            <h3 class="book-title">
                                                <a href="<?=BASE_URL.'/books/'.$book['id']?>"> 
                                                    View Book
                                                </a>
                                            </h3>
                                            <div class="star-rating">
                                                <?for($i=1; $i<=5; $i++):?>
                                                    <i class="fa fa-star <?=($i <= $book['rating']) ? 'color':''?>"></i>
                                                <? endfor; ?>
                                            </div><!-- /.star-rating -->
                                        </div><!-- /.book-details -->
                                    </div><!-- /.book -->
                                </div> <!-- /.col -->
                                <? endforeach; ?>
                        </div> <!-- /.row -->
                    </div><!-- /.category-books -->
                </div><!-- /.tab-pane -->
            </div> <!-- /.tab-content -->
        </div><!-- /.wow -->
    </div><!-- /.container -->
        
    <!-- ========================================= RELATE BOOKS MODULE : END ========================================= -->

    <a class="scrollup hidden-xs hidden-sm" href="#" style="display: none;"><img src="assets/images/top-scroll.png" alt="" ></a>
                    
</div><!-- /.content -->
{% endblock %}